body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-and-hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 100px;
    margin-bottom: 50px;
}

.header-linktree {
    display: flex;
    gap: 20px;
}

.header-logo {
    font-size: 24px;
    font-weight: 600;
    flex-shrink: 0;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-box {
    display: flex;
    align-items: center;
    padding: 30px 100px;
    gap: 50px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 35px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 900;
}